#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #000 0%, #362b77 100%);
}

.flake {
	position: absolute;
	left: 10px;
	top: 0;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 10px white;
}
